* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 1;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
  padding: 0;
  background-color: #f7f7f7;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
}

h1 {
  font-size: 20;
  margin: 0;
}

h1 {
  color: #21232f;
  font-family: "Courgette", cursive;
}

.h-section {
  text-align: center;
  text-transform: uppercase;
}

.h-page {
  color: inherit;
  text-align: center;
  text-shadow: 0 0 2px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
}

header {
  text-align: center;
}

h2, h3, h4 {
  color: #21232f;
  font-family: "Encode Sans Condensed", sans-serif;
  text-align: center;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 12px;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

img {
  width: inherit;
  /*IE8*/
  max-width: 100%;
  height: auto;
}

audio,
video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b,
strong {
  font-weight: inherit;
}

b,
strong {
  font-weight: bolder;
}

code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

q {
  font-style: italic;
}

p,
li,
dd,
dt {
  font-family: 'Encode Sans Condensed', sans-serif;
  font-size: 16px;
  color: #21232f;
}

.hr-h {
  width: 20%;
  margin: 0 auto;
  margin-bottom: 15px;
}

footer {
  background-color: #21232f;
  height: 60px;
  text-align: center;
  padding: 8px;
}

footer a {
  padding: 3px;
  color: #f7f7f7;
  text-decoration: none;
}

article {
  margin: 15px;
  background-color: #fff;
}

article div {
  padding: 0 20px 20px 20px;
}

.share {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin: 0;
}

.share a {
  text-decoration: none;
  color: #21232f;
  font-size: 16px;
}

.btn-like {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hr {
  border: 1px solid #29b5a9;
}

.hr-a {
  border: 1px solid #29b5a9;
  width: 40px;
}

.header-principal-article {
  text-align: center;
}

a {
  color: #28b5a9;
  font-size: 12px;
}

a:active,
a:hover {
  outline-width: 0;
}

a:hover,
a:focus {
  border: 0;
  text-decoration: none;
}

.white-link {
  color: #fff;
  -webkit-tap-highlight-color: white;
}
