footer {
    background-color: $color-base;
    height: 60px;
    text-align: center;
    padding: 8px;
    
    a {
      padding: 3px;
      color: $color-white;
      text-decoration: none;
      
    }
  }